<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Displays Recipe</title>
  </head>
  <body>

    <h1><%= @recipe.name %></h1>
    <br>
    <h6>Ingredients:</h6> <%= @recipe.ingredients %>
    <h6>Cook Time:</h6> <%= @recipe.cook_time %>
    <br>
    <form method="post" action="/recipes/<%= @recipe.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete recipe">
    </form>

  </body>
</html>
